.banner-bg-beach {
  background-image: url("../../../../assets/images/bannière-plage.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
}

h2.text-white {
  text-shadow: 1px 1px 2px black;
}
