<div class="row bg-dark">
  <div class="col-12">
    <nav class="navbar navbar-expand-xl navbar-dark ">
      <a class="navbar-brand">Concession privée</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06"
        aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample06">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Créer une réservation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Vos réservation</a>
          </li>
        </ul>

      </div>
      <button class="btn btn-dark" type="button">Deconnexion</button>
    </nav>
  </div>
</div>
