<app-nav-concessionnaire></app-nav-concessionnaire>

<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center mt-4">Détail Réservation</h2>
    </div>
  </div>
  <div *ngIf="detailReservation" class="row">
    <div class="col">
      <table class="table mt-4">
        <thead>
          <th>Client</th>
          <th>Numéro de réservation id:</th>
          <th>Dates de réservation</th>
        </thead>
        <tbody>
          <tr>
            <td>{{detailReservation.locataire.nom}}
              {{detailReservation.locataire.prenom}}</td>
            <td> {{detailReservation.id}}</td>
            <td> du {{detailReservation.dateHeureDebut.substring(0,10)}} au
              {{detailReservation!.dateHeureFin!.substring(0,10)}} </td>
          </tr>
        </tbody>
      </table>
      <h3>Attribution des emplacements de parasols:</h3>
      <form #f="ngForm">
        <ng-container *ngIf="listParasolByFile">

          <select required #parasolId (change)="selectedValue(parasolId.value, i)" class=" form-control mt-3"
            *ngFor="let parasol of detailReservation.parasols;let i = index" name="NumeroEmplacement"
            id="NumeroEmplacement">
            <option [value]="null">Emplacement Parasol {{i+1}}</option>
            <option [value]="para.id" *ngFor="let para of getParasolByFileId(parasol.file.id!.toString())">
              {{para.numeroEmplacement}}
            </option>
          </select>
        </ng-container>
        <button [disabled]="!f.valid" (click)="validerReservation()" type="submit"
          class="btn btn-primary mt-3">Valider</button>
        <button [routerLink]="['/concessionnaire']" type="button" class="btn btn-primary mt-3 ms-3">Retour à la liste
          des resa</button>
        <p *ngIf="errorSelection" class="text-danger">{{errorSelection}}</p>
        <p *ngIf="errorAlreadyValidate" class="text-danger">{{errorAlreadyValidate}}</p>
      </form>
    </div>

  </div>
</div>